.head-logo{
    float:left;
    height:60px;
    width:104px;
    background: url('/img/iRank.png');
    background-size: cover;
}
.head-logo-big{
     position:absolute;
     left:50%;
     margin-left:-104px;
     top:-10px;
     height:120px;
     width:208px;
     background: url('/img/iRank.png');
     background-size: cover;
 }
.login-page-container{
    width:100%;
    height:100vh;
    background: url('/img/login-background.jpg');
    background-size: cover;
}
.dashboard-links{
    color:#fff;
}
.dashboard-links:hover{
    color:#fff;
}
.client-block{
    margin-top:25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background:#fff;

}
.service-container{
    position:relative;
    min-height:700px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    overflow:hidden;
}
.service-header{
    position:relative;
    top:-12px;
    margin-left:-10px;
    margin-right:-10px;
    padding-top:25px;
    padding-left: 10px;
    padding-right: 10px;
    height:200px;
    background:#34495e;
    font-weight: 900;
    text-align: center;
}
.service-header-name{
    font-size:1.5em;
    color:#fff !important;
}
.service-header-price{
    margin-top:15px;
    font-size:2.5em;
    color:#fff !important;
    font-weight: 900;
}
.service-header-old-price{
    position:relative;
    margin-top:15px;
    font-size:1.6em;
    color:#ededed;
    font-weight: 700;
    text-decoration: line-through;
}
/*.service-header-old-price::before{
    content:'';
    position:absolute;
    top:50%;
    width:100%;
    height:2px;
    background:#ededed;
    transform: rotate(45deg);
}*/
.service-header-old-price span, .service-header-price span{
    font-size:0.5em;
    color:#ccc;
}
.additional-services{
    margin:0;
    padding:0;
}
.additional-services ul{
    margin:0;
    padding:0;
    list-style:none;
}
label.additional-services-label{
    position:relative;
    display:block !important;
    margin-right:40px;
}
.additional-services-span{
    position:absolute;
    top:0px;
    right:-40px;
}
.bottom-buttons{
    position:absolute;
    left:10px;
    right:10px;
    bottom:10px;
}
.link-to-cart{
    display:none;
}
.form-horizontal .control-label{
    text-align: left;
}
.delete-description{
    position:absolute;
    right:15px;
    top:8px;
    color:#f00;
    cursor:pointer;
}


/******BREADCRUMBS**********/
#breadcrumbs-container{
    font-size:1.1em;
    line-height: 40px;
    background:#fff;
    border-bottom:1px solid #d6dddf;
}
.breadcrumbs{
    margin-left:10px;
    padding-left:0;
    margin-bottom:0px;
    list-style:none;
}
.breadcrumbs li{
    display:inline-block;
    margin:0 7px;
}
.breadcrumbs li:first-child{
    margin-left:0;
}
.breadcrumbs a{
    color:#9c9c9e;
    text-decoration:none;
}
.breadcrumbs li:last-child a{
    color:#da3503;
}
.breadcrumbs a:hover{
    color:#da3300;
}
/******END BREADCRUMBS**********/

/******EDIT AGENCY LOGO**********/
.agency-logo{
    width:266px;
    height:266px;
    background: #fff;
    border:5px solid #fff;
    border-radius:1000px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    overflow: hidden;
}
.agency-logo-shadow{
    position:relative;
    width:256px;
    height:256px;
    border-radius:1000px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}
.agency-logo-back{
    position:absolute;
    top:50%;
    left:50%;
    width:0%;
    height:0%;
    background:rgba(0,0,0,0);
    border-radius:1000px;
}
.agency-logo-shadow:hover .agency-logo-back{
    transition-property: background, padding,top,left,right,bottom,width,height;
    transition-duration: 0.5s;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
}
.change-logo-button{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    width:150px;
    margin-left:-75px;
    margin-top:-25px;
    padding:10px 20px;
    font-size:1.1em;
    color:#fff;
    text-decoration:none;
    text-align: center;
    background:rgba(0,0,0,0.7);
    border:1px solid #fff;
    cursor:pointer;
}
.agency-logo-shadow:hover .change-logo-button{
    display:block;
}
/******  EDIT AGENCY LOGO  **********/




/******  CHAT  **********/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.img-circle{
    width: 50px;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.chat-container .panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.chat-container .panel-body
{
    overflow-y: scroll;
    height: 600px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/******  END CHAT ********/

