
.client-block{
    margin-top:25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background:#fff;

}
.service-container{
    position:relative;
    min-height:700px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    overflow:hidden;
}
.service-header{
    position:relative;
    top:-12px;
    margin-left:-10px;
    margin-right:-10px;
    padding-top:25px;
    padding-left: 10px;
    padding-right: 10px;
    height:200px;
    background:#34495e;
    font-weight: 900;
    text-align: center;
}
.service-header-name{
    font-size:1.5em;
    color:#fff !important;
}
.service-header-price{
    margin-top:15px;
    font-size:2.5em;
    color:#fff !important;
    font-weight: 900;
}
.service-header-old-price{
    position:relative;
    margin-top:15px;
    font-size:1.6em;
    color:#ededed;
    font-weight: 700;
    text-decoration: line-through;
}
/*.service-header-old-price::before{
    content:'';
    position:absolute;
    top:50%;
    width:100%;
    height:2px;
    background:#ededed;
    transform: rotate(45deg);
}*/
.service-header-old-price span, .service-header-price span{
    font-size:0.5em;
    color:#ccc;
}
.additional-services{
    margin:0;
    padding:0;
}
.additional-services ul{
    margin:0;
    padding:0;
    list-style:none;
}
label.additional-services-label{
    position:relative;
    display:block !important;
    margin-right:40px;
}
.additional-services-span{
    position:absolute;
    top:0px;
    right:-40px;
}
.bottom-buttons{
    position:absolute;
    left:10px;
    right:10px;
    bottom:10px;
}
.link-to-cart{
    display:none;
}
.form-horizontal .control-label{
    text-align: left;
}
.delete-description{
    position:absolute;
    right:15px;
    top:8px;
    color:#f00;
    cursor:pointer;
}


/******BREADCRUMBS**********/
#breadcrumbs-container{
    font-size:1.1em;
    line-height: 40px;
    background:#fff;
    border-bottom:1px solid #d6dddf;
}
.breadcrumbs{
    margin-left:10px;
    padding-left:0;
    margin-bottom:0px;
    list-style:none;
}
.breadcrumbs li{
    display:inline-block;
    margin:0 7px;
}
.breadcrumbs li:first-child{
    margin-left:0;
}
.breadcrumbs a{
    color:#9c9c9e;
    text-decoration:none;
}
.breadcrumbs li:last-child a{
    color:#da3503;
}
.breadcrumbs a:hover{
    color:#da3300;
}
/******END BREADCRUMBS**********/